* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  font-family: "Urbanist", sans-serif;
}

.header {
  background: url(../assets/background.jpeg);
}


.head {
  background-color: #f8f9fa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 6.5rem;
  /* position: fixed; */
  /* top: 0; */
  position: absolute;
  opacity: 0.8;
  box-sizing: border-box;
  z-index: 1;
}

.head-logo {
  font-size: 1rem;
  font-weight: bold;
  color: #343a40;
}

.get-started-btn {
  background-color: lime;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 20px;
  width: 153px;
  height: 42px;
  top: 17px;
  left: 1167px;
}

.get-started-btn:hover{
  color: black;
  background-color: #9ef542;
  border: none;
}

.head-img{
  position: relative;
}

.img{
  height: 700px;
  width: 1440px;
  /* opacity: 0.8; */
}

.first-container {
  text-align: center;
  line-height: 90px;
}

.first-container h1{
  font-family: Urbanist;
  font-weight: 600;
  width: 564px;
  height: 44px;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #FFFFFF;
}

.second-container {
  padding-top: 20px;
  background: #FAFAFA;
}

.second-container h2 {
  font-size: 28px;
  margin-bottom: 2rem;
  text-align: center;
  color: #000000;
}

.feature-content-1,
.feature-content-3 {
  display: flex;
  padding: 0 13rem;
  align-items: center;
  gap: 100px;
}

.feature-content-2 {
  display: flex;
  align-items: center;
  padding: 0 13rem;
  gap: 100px;
}

.feature-svg {
  width: 300px;
  height: 300px;
}

.feature-text h3 {
  margin-bottom: 0.5rem;
}

.steps {
  display: flex;
  justify-content: space-between;
}

.step {
  line-height: 30px;
}

.third-container {
  background: white;
  padding: 2rem 6rem;
  text-align: center;
}

.third-container h2 {
  font-size: 28px;
  margin-bottom: 3rem;
}

span {
  background: lime;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 20px;
  margin-bottom: 50px;
}

.step h3 {
  font-size: 1rem;

}

.step p {
  font-size: 14px;
}

.fourth-container {
  text-align: center;
  background: rgb(252, 234, 202);
  padding: 2rem;
  line-height: 35px;
}

.fourth-container h2 {
  font-size: 1.5rem;
}

.fourth-container p {
  font-size: 12px;
}

.footer {
  background: rgb(66, 37, 95);
}

.footer h3 {
  color: white;
  font-size: 11px;
  padding: 10px;
  margin-left: 30px;
}
