*{
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  font-family: 'Poppins', sans-serif;
}

.head{
  background: #E0E0E0;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 6.5rem;
  position: absolute;
  opacity: 0.8;
  width: 100%;
  z-index: 1;
}


.head-logo{
  width: 67px;
  height: 29px;
  top: 24px;
  left: 120px;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  font-weight: 700;
  color: #343a40;
}

.get-started-btn{
  background-color: #76DF02;
  color: #000000;
  padding: 12px 10px;
  border-radius: 20px;
  width: 153px;
  height: 42px;
  top: 17px;
  left: 1167px;
}

.get-started-btn:hover{
  color: black;
  background-color: #9ef542;
  border: none;
}

.head-img{
  position: relative;
}

.img{
  height: 700px;
  width: 1440px;
  opacity: 0.8;
}

.first-container{
  position: absolute;
  height: 165px;
  top: 380px;
  left: 390px;
  text-align: center;
  line-height: 90px;
}

.first-container h1{
  font-family: Urbanist;
  font-weight: 600;
  width: 564px;
  height: 44px;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #FFFFFF;
}

.first-container p{
  font-family: Urbanist;
  font-weight: 500;
  width: 564px;
  height: 44px;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0;
}

.get-started-btn-2{
  font-family: Urbanist;
  background: #76DF02;
  width: 153px;
  border-radius: 20px;
  font-weight: 400;
  size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
}

.get-started-btn-2:hover{
  color: black;
  background-color: #9ef542;
  border: none;
}

.second-container{
  top: 667px;
  padding-top: 20px;
  background: #FAFAFA;
}

.second-container h2{
  font-family: Urbanist;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 2rem;
  text-align: center;
  color: #000000;
}

.feature-content-1,
.feature-content-3{
  display: flex;
  padding:0 13rem;
  align-items: center;
  gap: 100px;
}

.feature-content-2{
 display: flex;
 align-items: center;
 padding:0 13rem;
 gap: 100px;
}

.feature-svg{
  width: 300px;
  height: 300px;
}

.feature-text h3{
  width: 560px;
  height: 29px;
  font-family: Urbanist;
  font-size: 24px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
}

.feature-text p{
  width: 560px;
  height: 66px;
  font-family: Urbanist;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0%;
  color: #000000;
}


.steps{
  display: flex;
  justify-content: space-between;
}

.step{
  line-height: 30px;
}

.third-container{
  background: white;
  padding: 2rem 6rem;
  text-align: center;
}

.third-container h2{
  font-family: Urbanist;
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
  margin-bottom: 30px;
  align-content: center;
}

.step{
  width: 379px;
  height: 98px;
  gap: 16px;
}

span{
  background: #76DF02;
  font-size: 11px;
  padding: 5px 10px;
  border-radius: 20px;
  margin-bottom: 50px;
}

.step h3{
  font-family: Urbanist;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0%;
  align-items: center;
  font-weight: 600;
  line-height: 100%;
}
.step p{
  font-family: Urbanist;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0%;
  align-items: center;
  font-weight: 400;
  line-height: 22px;
}

.fourth-container{
  text-align: center;
  background: #FFF8F0;
  line-height: 100%;
  padding: 50px 0;
}

.fourth-container h2{
  font-size: 36px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0%;
  align-items: center;
  color: #000000;
  font-family: Urbanists;
}

.fourth-container p{
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  align-items: center;
  color: #000000;
  font-family: Urbanist;
  margin-bottom: 10px;
}

.get-started-btn-3{
  background: #76DF02;
  border-radius: 20px;
  font-family: Urbanist;
  width: 153px;
  height: 43px;
  padding: 12px 10px;
  gap: 10px;
  color: #000000;
}

.get-started-btn-3:hover{
  color: black;
  background-color: #9ef542;
  border: none;
}

.footer{
  background: #51355A;
  height: 4rem;
  justify-content: center;
  padding: 25px 60px;
}

.footer h3{
  font-family: Urbanist;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #FFFFFF;

}


