*{
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

.header{
  background: url(../assets/background.jpeg);
}

.head{
  background-color: #f8f9fa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.head-logo{
  font-size: 2rem;
  font-weight: bold;
  color: #343a40;
}

.get-started-btn{
  background-color: lime;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.second-container{
  
}
